@import "../../../scss/mixins";

.delete {
  background-color: var(--light-tint-orange);
  border-radius: 6px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    font-size: 1.8rem;

    @media (min-width: 700px) {
      padding: 0.8rem 1rem;
    }
  }

  &__icon {
    transition: all 0.4s;
    color: var(--dark-shade-green);
    font-size: 1.5rem;

    &_active {
      transform: rotate(90deg);
    }

    @media (min-width: 700px) {
      display: none;
    }
  }

  &__content {
    @include flexColumnGap(1.8rem);

    transition: all 0.4s;
    max-height: 0;
    overflow: hidden;

    @media (min-width: 700px) {
      gap: 1.4rem;
      padding: 1rem;
      max-height: none;
      overflow: visible;
    }
  }

  &__switches {
    @include flexAlignGap(center, 1.4rem);

    span {
      font-size: 1.5rem;
    }
  }

  &__radios {
    @include flexAlignGap(center, 1.4rem);

    label {
      font-size: 1.5rem;
    }

    input[type="radio"] {
      transform: scale(1.1);
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.4rem;

    button {
      font-size: 1.45rem;
      font-weight: bold;
      border-radius: 6px;
      background-color: var(--light-shade-orange);
      border: 1px solid var(--light-very-shade-orange);
      padding: 0.8rem 0;
      width: 100%;
    }
  }

  // this active only for MenuModal for dropdown
  // animation
  &__active {
    padding: 2rem 1rem;
    max-height: 400px;
  }
  // =======================
}
