@import "../../scss/variables";
@import "../../scss/mixins";

.form {
  &__textarea {
    transition: all 0.5s;
    width: 100%;
    height: 10rem;
    padding: 1.4rem;
    border-radius: 6px;
    border: 2px solid $dark-shade-green;
    color: $dark;
    font-size: 1.6rem;
    background-color: transparent;
    margin-bottom: 1rem;

    &:focus {
      outline: none;
    }
  }

  &__textareaInvalid {
    border-color: $very-shade-orange;
  }

  &__quote,
  &__msg {
    font-weight: bold;
    font-size: 1.45rem;
  }

  &__msg {
    transition: all 0.5s;
    opacity: 0;
  }

  &__errorMsg {
    opacity: 1;
    color: $very-shade-orange;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  // buttons class name
  &__add,
  &__clear,
  &__calendarInput,
  &__calendarClear {
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }

  &__add {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 6px;
    background-color: $very-shade-purple;
    color: $light;

    &:hover {
      background-color: darken($very-shade-purple, 10%);
    }
  }

  &__clear {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 6px;
    background-color: $light;

    &:hover {
      background-color: darken($light, 10%);
    }
  }

  &__calendarContainer {
    display: flex;
    justify-content: flex-end;
  }

  &__calendarInput {
    box-shadow: -1px 0px 2px 0 $dark;
    border-radius: 6px 0 0 6px;
    width: 65%;
    background-color: $tint-green;
    padding: 1rem;
    color: $dark;

    &:hover {
      background-color: darken($tint-green, 5%);
    }
  }

  &__calendarClear {
    box-shadow: 1px 0px 2px 0 $dark;
    border: 0 6px 6px 0;
    background-color: $shade-green;
    padding: 1rem;
    line-height: 0;

    &:hover {
      background-color: darken($shade-green, 10%);
    }
  }

  @include s-mobile() {
    &__buttons {
      gap: 1rem;
    }

    &__calendarInput {
      width: 100%;
    }
  }
}
