.form__textarea {
  transition: all 0.5s;
  width: 100%;
  height: 10rem;
  padding: 1.4rem;
  border-radius: 6px;
  border: 2px solid #08444c;
  color: #333;
  font-size: 1.6rem;
  background-color: transparent;
  margin-bottom: 1rem;
}
.form__textarea:focus {
  outline: none;
}
.form__textareaInvalid {
  border-color: #f86939;
}
.form__quote, .form__msg {
  font-weight: bold;
  font-size: 1.45rem;
}
.form__msg {
  transition: all 0.5s;
  opacity: 0;
}
.form__errorMsg {
  opacity: 1;
  color: #f86939;
}
.form__buttons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.form__add, .form__clear, .form__calendarInput, .form__calendarClear {
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem 1.6rem;
}
.form__add, .form__clear {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
}
.form__add {
  background-color: #7676b5;
  color: #fff;
}
.form__add:hover {
  background-color: #5757a1;
}
.form__clear {
  background-color: #fff;
  color: #333;
}
.form__clear:hover {
  background-color: #e6e6e6;
}
.form__calendarContainer {
  display: flex;
  justify-content: flex-end;
}
.form__calendarInput {
  box-shadow: -1px 0px 2px 0 #333;
  background-color: #f4fcf4;
  color: #333;
  border-radius: 6px 0 0 6px;
  width: 65%;
  padding: 1rem;
}
.form__calendarInput:hover {
  background-color: #e0f7e0;
}
.form__calendarClear {
  box-shadow: 1px 0px 2px 0 #333;
  border-radius: 0 6px 6px 0;
  background-color: #dcf4ec;
  padding: 1rem;
  line-height: 0;
}
.form__calendarClear:hover {
  background-color: #b5e8d7;
}
@media only screen and (max-width: 21.8rem) {
  .form__buttons {
    gap: 1rem;
  }
  .form__calendarInput {
    width: 100%;
  }
}