@import "../../scss/variables";
.header {
  position: absolute;
  width: 100%;
  top: 4rem;
  padding: 0 2rem;
  transition: all 0.4s;

  &__box {
    background-color: $very-light-gray;
    padding: 0.8rem;
    border-radius: 6px;
  }

  // Global Selectors
  h3 {
    color: $dark-green;
  }

  .icon {
    transition: all 0.4s;
    color: $dark-green;
    font-size: 1.5rem;
    &_active {
      transform: rotate(90deg);
    }
  }

  // =======================

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__show {
    padding-bottom: 1.6rem;
    padding: 0.8rem;
    border-radius: 6px;
    background-color: $tint-purple;
    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 1.7rem;
      }

      button {
        cursor: pointer;
        color: $dark-green;
        background-color: transparent;
        border: none;
        font-size: 2.4rem;
        height: 2.4rem;
      }

      margin-bottom: 2.4rem;
    }

    &_list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.6rem;
      list-style: none;

      button {
        border: 2px solid $dark-green;
        color: $dark-green;
        border-radius: 6px;
        background-color: transparent;
        padding: 0.8rem 0;
        font-size: 1.45rem;
        width: 100%;
      }

      .active_btn {
        font-weight: bold;
        border-color: $shade-purple;
        background-color: $light-shade-purple;
      }
    }
  }

  &__setting {
    background-color: $tint-green;
    border-radius: 6px;

    &_button {
      padding: 1rem;
      background-color: transparent;
      border: none;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 1.7rem;
      }
    }
    &_content {
      max-height: 0;
      transition: all 0.4s ease-in-out;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      gap: 1.8rem;
    }

    &_active {
      padding: 2rem 1rem;
      max-height: 200px;
    }

    .toggle__container {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      input {
        border-radius: 3px;
        width: 25%;
        padding: 0.4rem;
        font-size: 1.4rem;
      }
      span {
        font-size: 1.5rem;
      }
    }
  }

  &__delete {
    background-color: $tint-orange;
    border-radius: 6px;

    &_button {
      padding: 1rem;
      background-color: transparent;
      border: none;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 1.7rem;
      }
    }

    &_content {
      max-height: 0;
      transition: all 0.4s ease-in-out;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      gap: 1.8rem;

      .switch__container {
        display: flex;
        align-items: center;
        gap: 1.4rem;

        span {
          font-size: 1.5rem;
        }
      }

      .radio__container {
        display: flex;
        align-items: center;
        gap: 1.4rem;

        label {
          font-size: 1.5rem;
        }

        input[type="radio"] {
          transform: scale(1.1);
        }
      }

      .button__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.4rem;

        button {
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: bold;
          border-radius: 6px;
          background-color: $light-shade-orange;
          border: 2px solid $shade-orange;
          padding: 0.8rem 0;
          width: 100%;
        }
      }
    }

    &_active {
      padding: 2rem 1rem;
      max-height: 400px;
    }
  }
}
