.setting {
  background-color: var(--light-tint-green);
  border-radius: 6px;
}
.setting__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  border: none;
}
.setting__button h3 {
  font-size: 1.8rem;
}
.setting__icon {
  transition: all 0.4s;
  color: var(--dark-shade-green);
  font-size: 1.5rem;
}
.setting__icon_active {
  transform: rotate(90deg);
}
.setting__content {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  transition: all 0.4s;
  max-height: 0;
  overflow: hidden;
}
.setting__container {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.setting__container span {
  font-size: 1.5rem;
}
.setting__active {
  padding: 2rem 1rem;
  max-height: 20rem;
}
@media only screen and (min-width: 43.75rem) {
  .setting__button {
    padding: 0.8rem 1rem;
  }
  .setting__icon {
    display: none;
  }
  .setting__content {
    padding: 1rem;
    max-height: none;
    overflow: visible;
  }
}