@import "../../scss/variables";
@import "../../scss/mixins";

.change {
  @include widthCenter(380px, 0, 2rem);
  flex-grow: 1;

  &__box {
    @include flexColumnGap(2rem);

    position: relative;
    width: 100%;
    border-radius: 6px;
    padding: 2rem 0.8rem;

    background-color: $tint-green;
  }

  &__title {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 2.4rem;
    }
  }

  &__exit {
    border: none;
    background-color: transparent;
    line-height: 0;
    font-size: 2.4rem;
  }

  &__button {
    color: $very-dark-blue;
    font-weight: bold;
    background-color: $shade-green;
    border: 1px solid $darker-green;
    border-radius: 6px;
    padding: 0.6rem 1.2rem;
  }

  &__form {
    @include flexColumnGap(1rem);

    textarea {
      border: 1px solid $darker-green;
      background-color: rgba($color: #fff, $alpha: 0.4);
      border-radius: 6px;
      padding: 1rem;
      font-size: 1.5rem;
      height: 150px;
    }

    textarea:focus {
      outline: none;
    }

    &_inputButton {
      display: flex;
      gap: 1.6rem;
      margin-bottom: 1rem;
    }

    &_date {
      display: flex;

      input {
        background-color: $shade-green;
        border-radius: 6px 0 0 6px;
        width: 45%;
        border: 1px solid $dark-green;
      }

      input:focus {
        outline: none;
      }

      button {
        color: $very-light-gray;
        border-radius: 0 6px 6px 0;
        border: none;
        background-color: $darker-green;
        line-height: 0;
        padding: 0.4rem 0.6rem;
      }
    }

    &_edit {
      display: flex;
      justify-content: space-between;
    }
  }
}
