.change {
  max-width: 38rem;
  padding: 0 2rem;
  margin: 0 auto;
  flex-grow: 1;
}
.change__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  background-color: #f4fcf4;
  width: 100%;
  border-radius: 6px;
  padding: 2rem 0.8rem;
}
.change__title {
  display: flex;
  justify-content: space-between;
}
.change__title h2 {
  font-size: 2.4rem;
}
.change__exit {
  cursor: pointer;
  color: #333;
  border: none;
  background-color: transparent;
  line-height: 0;
  font-size: 2.4rem;
}
.change__exit:hover {
  color: #4d4d4d;
}
.change__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.change__textarea {
  border: 1px solid #488c75;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  padding: 1rem;
  font-size: 1.5rem;
  height: 15rem;
}
.change__textarea:focus {
  outline: none;
}
.change__textareaInvalid {
  border-color: #f86939;
}
.change__msg {
  font-weight: bold;
  font-size: 1.45rem;
}
.change__errorMsg {
  color: #f86939;
}
.change__button {
  cursor: pointer;
  color: #333;
  background-color: #dcf4ec;
  border: 1px solid #488c75;
  font-weight: bold;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
}
.change__button:hover {
  background-color: #b5e8d7;
}
.change__clearCalendarContainer {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1rem;
}
.change__calendarContainer {
  display: flex;
}
.change__calendarContainer input {
  background-color: #dcf4ec;
  border-radius: 6px 0 0 6px;
  width: 45%;
  border: 1px solid #08444c;
}
.change__calendarContainer input:hover {
  background-color: #b5e8d7;
}
.change__calendarContainer input:focus {
  outline: none;
}
.change__calendarContainer button {
  cursor: pointer;
  color: #fff;
  background-color: #488c75;
  border-radius: 0 6px 6px 0;
  border: none;
  line-height: 0;
  padding: 0.4rem 0.6rem;
}
.change__editContainer {
  display: flex;
  justify-content: space-between;
}