.change {
  max-width: 380px;
  padding: 0 2rem;
  margin: 0 auto;
  flex-grow: 1;
}
.change__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  width: 100%;
  border-radius: 6px;
  padding: 2rem 0.8rem;
  background-color: var(--light-tint-green);
}
.change__title {
  display: flex;
  justify-content: space-between;
}
.change__title h2 {
  font-size: 2.4rem;
}
.change__exit {
  border: none;
  background-color: transparent;
  line-height: 0;
  font-size: 2.4rem;
}
.change__button {
  color: var(--slight-dark);
  font-weight: bold;
  background-color: var(--light-shade-green);
  border: 1px solid var(--light-very-shade-green);
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
}
.change__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.change__form textarea {
  border: 1px solid var(--light-very-shade-green);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  padding: 1rem;
  font-size: 1.5rem;
  height: 150px;
}
.change__form textarea:focus {
  outline: none;
}
.change__form_inputButton {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1rem;
}
.change__form_date {
  display: flex;
}
.change__form_date input {
  background-color: var(--light-shade-green);
  border-radius: 6px 0 0 6px;
  width: 45%;
  border: 1px solid var(--dark-shade-green);
}
.change__form_date input:focus {
  outline: none;
}
.change__form_date button {
  color: var(--light);
  border-radius: 0 6px 6px 0;
  border: none;
  background-color: var(--light-very-shade-green);
  line-height: 0;
  padding: 0.4rem 0.6rem;
}
.change__form_edit {
  display: flex;
  justify-content: space-between;
}