.todo {
  max-width: 38rem;
  padding: 4rem 1rem;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 0rem;
}
.todo__formMenu {
  display: grid;
  gap: 1.4rem;
  align-items: start;
  margin-bottom: 1rem;
  height: 18rem;
}
.todo__menuContainer {
  display: none;
}
.todo__listChart {
  position: relative;
}
.todo__chartContainer {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 6rem;
  top: 30rem;
  height: 30rem;
  width: 30rem;
  justify-self: center;
}
.todo__chartContainer span {
  position: absolute;
  top: 17rem;
  left: 50%;
  z-index: -5;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 2rem;
}
@media only screen and (min-width: 43.75rem) {
  .todo {
    max-width: 70rem;
  }
  .todo__formMenu {
    grid-template-columns: 1fr 1fr;
  }
  .todo__menuContainer {
    display: block;
  }
  .todo__listChart {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .todo__chartContainer {
    display: block;
  }
}