@import "../scss/mixins";

.todo {
  @include widthCenter(380px, 4rem, 1rem);
  height: 100%;
  user-select: none;

  &__formMenu {
    display: grid;
    gap: 1.4rem;
    align-items: start;
    margin-bottom: 2rem;
    height: 180px;
  }

  &__menuContainer {
    display: none;
  }

  &__listChart {
    position: relative;
  }

  &__chartContainer {
    position: sticky;
    margin-top: 6rem;
    top: 30rem;
    height: 300px;
    width: 300px;
    justify-self: center;

    span {
      position: absolute;
      top: 17rem;
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
      font-size: 2rem;
    }
  }

  // Introduction background
  &__background {
    margin-top: 4rem;
    text-align: center;

    &_calendar {
      width: 100%;
      height: 100%;
      margin-bottom: 1rem;
    }

    &_date {
      font-family: sans-serif;
      font-size: 3.2rem;
      color: var(--dark-shade-green);
    }
  }

  // Footer text
  &__guide {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    &_text {
      color: var(--dark-grayish-blue);
      font-weight: 700;
      font-size: 1.4rem;
    }
  }

  @media (min-width: 700px) {
    max-width: 700px;

    &__formMenu {
      grid-template-columns: 1fr 1fr;
    }

    &__menuContainer {
      display: block;
    }

    &__listChart {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
