@import "../scss/mixins";

.todo {
  @include widthCenter(38rem, 4rem, 1rem);
  user-select: none;
  padding-bottom: 0rem;

  &__formMenu {
    display: grid;
    gap: 1.4rem;
    align-items: start;
    margin-bottom: 1rem;
    height: 18rem;
  }

  &__menuContainer {
    display: none;
  }

  &__listChart {
    position: relative;
  }

  &__chartContainer {
    display: none;
    position: sticky;
    margin-top: 3rem;
    top: 24rem;
    height: 30rem;
    width: 30rem;
    justify-self: center;

    span {
      position: absolute;
      top: 17rem;
      left: 50%;
      z-index: -5;
      transform: translateX(-50%);
      font-weight: bold;
      font-size: 2rem;
    }
  }

  @include tabdesk() {
    max-width: 70rem;

    &__formMenu {
      grid-template-columns: 1fr 1fr;
    }

    &__menuContainer {
      display: block;
    }

    &__listChart {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__chartContainer {
      display: block;
    }
  }
}
