@import "../../../scss/variables";

.icons {
  display: flex;
  justify-content: space-around;
  border-bottom: dotted $dark-green 3px;
  padding-bottom: 0.6rem;
  list-style: none;

  color: $dark-green;
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
  font-size: 1.8rem;

  .move {
    // color: $dark-grayish-blue;
    // opacity: 0.2;
  }

  li {
    padding: 0.3rem;
    border-radius: 3px;
  }
}
