@import "../../../scss/variables";

.icons {
  display: flex;
  justify-content: space-around;
  border-bottom: dotted $dark-green 3px;
  padding-bottom: 1rem;
  list-style: none;

  color: $dark-green;
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
  font-size: 1.8rem;
}
