.icons {
  display: flex;
  justify-content: space-around;
  border-bottom: dotted var(--dark-shade-green) 3px;
  padding-bottom: 0.6rem;
  list-style: none;
  color: var(--dark-shade-green);
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
  font-size: 1.8rem;
}
.icons .iconDisabled {
  color: var(--dark-grayish-blue);
  opacity: 0.2;
}
.icons .iconCompleted {
  color: var(--light-very-shade-green);
  background-color: var(--light-shade-green);
}
.icons li {
  padding: 0.3rem;
  border-radius: 3px;
}