.icons {
  display: flex;
  justify-content: space-around;
  border-bottom: dotted #08444c 3px;
  padding-bottom: 0.6rem;
  list-style: none;
  color: #08444c;
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
  font-size: 1.8rem;
}
.icons .move {
  position: relative;
  overflow: hidden;
}
.icons .move::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  content: " ";
  width: 2px;
  height: 4rem;
  background-color: #08444c;
}
.icons li {
  background-color: #ffdad0;
  padding: 0.3rem;
  border-radius: 3px;
}