.icons {
  display: flex;
  justify-content: space-around;
  border-bottom: dotted #08444c 3px;
  padding-bottom: 1rem;
  list-style: none;
  color: #08444c;
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
  font-size: 1.8rem;
}