@mixin widthCenter($width, $pad-tb, $pad-lr) {
  max-width: $width;
  padding: $pad-tb $pad-lr;
  margin: 0 auto;
}

@mixin flexColumnGap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flexAlignGap($direction, $gap) {
  display: flex;
  align-items: $direction;
  gap: $gap;
}

// 350px
@mixin s-mobile() {
  @media only screen and (max-width: 21.8rem) {
    @content;
  }
}

// 700px
@mixin tabdesk() {
  @media only screen and (min-width: 43.75rem) {
    @content;
  }
} ;
