$dark: #333;
$light: #fff;

$slight-khaki: #f5f2eb;

$tint-purple: #f0f4fc;
$shade-purple: #e1e1fd;
$very-shade-purple: #7676b5;

$tint-green: #f4fcf4;
$shade-green: #dcf4ec;
$very-shade-green: #488c75;
$dark-shade-green: #08444c;

$tint-orange: #fff4ec;
$shade-orange: #ffdad0;
$very-shade-orange: #f86939;

$dark-grayish-blue: #777a92;
