// todo Light Theme
$very-light-gray: #fff;

$dark-green: #08444c;

$tint-purple: #f0f4fc;
$light-shade-purple: #e1e1fd;
$shade-purple: #7676b5;

$tint-green: #f4fcf4;
$shade-green: #dcf4ec;
$darker-green: #488c75;

$tint-orange: #fff4ec;
$light-shade-orange: #ffdad0;
$shade-orange: #f86939;

// todo Dark Theme
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-grayish-blue: hsl(234, 11%, 52%);
$very-dark-grayish-blue: hsl(233, 14%, 35%);
