.change {
  max-width: 38rem;
  padding: 0 2rem;
  margin: 0 auto;
  flex-grow: 1;
}
.change__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  background-color: #f4fcf4;
  width: 100%;
  border-radius: 6px;
  padding: 2rem 0.8rem;
}
.change__title {
  display: flex;
  justify-content: space-between;
}
.change__title h2 {
  font-size: 2.4rem;
}
.change__exit {
  cursor: pointer;
  color: #333;
  border: none;
  background-color: transparent;
  line-height: 0;
  font-size: 2.4rem;
}
.change__exit:hover {
  color: #4d4d4d;
}