.wideNav {
  display: none;
  list-style: none;
  gap: 1.4rem;

  button {
    cursor: pointer;
    letter-spacing: 0.5px;
    padding: 1.2rem 1rem 1rem;
    font-size: 1.55rem;
    background-color: transparent;
    border: none;
  }

  .active {
    position: relative;

    &::before {
      content: "";
      width: 35%;
      height: 4px;
      background-color: var(--light-very-shade-purple);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: 700px) {
    display: flex;
  }
}
