@import "../../scss/variables";
@import "../../scss/mixins";

.header {
  @include widthCenter(38rem, 0, 2rem);
  flex-grow: 1;

  &__box {
    background-color: $light;
    padding: 0.8rem;
    border-radius: 6px;
  }

  &__nav {
    @include flexColumnGap(1.6rem);
  }
}
