@import "../../scss/variables";

.header {
  flex-grow: 1;
  max-width: 380px;
  padding: 0 2rem;

  // Global Selectors at Menu
  h3 {
    font-size: 1.65rem;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .icon {
    transition: all 0.4s;
    color: $dark-green;
    font-size: 1.5rem;

    &_active {
      transform: rotate(90deg);
    }
  }
  // =======================

  // Parent Elements box => nav

  &__box {
    background-color: $very-light-gray;
    padding: 0.8rem;
    border-radius: 6px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  // =======================

  // Show Specific Todo
  &__show {
    padding-bottom: 1.6rem;
    padding: 0.8rem;
    border-radius: 6px;
    background-color: $tint-purple;

    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.4rem;

      button {
        color: $dark-green;
        font-size: 2.4rem;
        height: 2.4rem;
      }
    }

    &_form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.6rem;

      input {
        display: none;
      }

      input[type="radio"]:checked + label {
        font-weight: bold;
        border-color: $shade-purple;
        background-color: $light-shade-purple;
      }

      label {
        cursor: pointer;
        display: block;
        text-align: center;
        border: 1px solid $dark-green;
        color: $dark-green;
        border-radius: 6px;
        padding: 0.8rem 0;
        font-size: 1.45rem;
        transition: all 0.3s;
      }
    }
  }
  // =======================

  // Toggles Setting
  &__setting {
    background-color: $tint-green;

    border-radius: 6px;

    &_button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      width: 100%;
    }

    &_content {
      display: flex;
      flex-direction: column;
      max-height: 0;
      transition: all 0.4s;
      overflow: hidden;
      gap: 1.8rem;
    }

    &_active {
      padding: 2rem 1rem;
      max-height: 200px;
    }

    &_toggles {
      display: flex;
      align-items: center;
      gap: 1.4rem;

      input {
        border-radius: 3px;
        width: 25%;
        padding: 0.4rem;
        font-size: 1.4rem;
      }

      span {
        font-size: 1.5rem;
      }
    }
  }
  // =======================

  // Delete Todos
  &__delete {
    background-color: $tint-orange;
    border-radius: 6px;

    &_button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      width: 100%;
    }

    &_content {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      max-height: 0;
      transition: all 0.4s;
      overflow: hidden;
    }

    &_active {
      padding: 2rem 1rem;
      max-height: 400px;
    }

    &_switches {
      display: flex;
      align-items: center;
      gap: 1.4rem;

      span {
        font-size: 1.5rem;
      }
    }

    &_radios {
      display: flex;
      align-items: center;
      gap: 1.4rem;

      label {
        font-size: 1.5rem;
      }

      input[type="radio"] {
        transform: scale(1.1);
      }
    }

    &_buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.4rem;

      button {
        font-size: 1.45rem;
        font-weight: bold;
        border-radius: 6px;
        background-color: $light-shade-orange;
        border: 1px solid $shade-orange;
        padding: 0.8rem 0;
        width: 100%;
      }
    }
  }
  // =======================
}
